@font-face {
  font-family: "iconfont"; /* Project id 4146164 */
  src: url('iconfont.woff2?t=1701065506320') format('woff2'),
       url('iconfont.woff?t=1701065506320') format('woff'),
       url('iconfont.ttf?t=1701065506320') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e687";
}

.icon-wenduji:before {
  content: "\e616";
}

.icon-fengsu:before {
  content: "\eca7";
}

.icon-fengxiang:before {
  content: "\eca6";
}

.icon-shanchu:before {
  content: "\e63a";
}

.icon-zhiding:before {
  content: "\e66d";
}

.icon-tianjia2:before {
  content: "\e895";
}

.icon-tabguanbi:before {
  content: "\e639";
}

.icon-tianjia:before {
  content: "\e612";
}

.icon-jixu:before {
  content: "\e601";
}

.icon-zhanting:before {
  content: "\e607";
}

.icon-zhankai:before {
  content: "\e68e";
}

.icon-bingtu:before {
  content: "\e606";
}

.icon-shousuo:before {
  content: "\e60d";
}

.icon-zhongzhimima:before {
  content: "\e60f";
}

.icon-bianji-copy:before {
  content: "\e893";
}

.icon-gongjuxiang-copy:before {
  content: "\e894";
}

.icon-shanchu-copy:before {
  content: "\e892";
}

.icon-shezhi1:before {
  content: "\e600";
}

.icon-xinjian:before {
  content: "\e63c";
}

.icon-sousuotianchong-copy:before {
  content: "\e891";
}

.icon-shezhi:before {
  content: "\e66c";
}

.icon-shoujihaoma12:before {
  content: "\e890";
}

.icon-youxiang:before {
  content: "\e68b";
}

.icon-shouye:before {
  content: "\e681";
}

.icon-riqixuanze:before {
  content: "\e71e";
}

.icon-jiaoseshouquan:before {
  content: "\e640";
}

.icon-yonghumingcheng:before {
  content: "\e655";
}

.icon-zhuye-:before {
  content: "\e693";
}

.icon-xitongguanli:before {
  content: "\e603";
}

.icon-yewuguanli:before {
  content: "\e609";
}

.icon-jiaoseguanli:before {
  content: "\e623";
}

.icon-yonghuguanli:before {
  content: "\e605";
}

.icon-tianchongxing-:before {
  content: "\e638";
}

.icon-caidanguanli:before {
  content: "\e636";
}

.icon-zhuce:before {
  content: "\e734";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-mima:before {
  content: "\e62b";
}

